<h1 class="title">Stupid Coaching</h1>

<div class="col-9" id="question">
<h2><%= @question %></h2>
<h2> <i>-You</i></h2>
</div>

<div class="col-9" id="answer">
<h2><%= @answer %></h2>
<h2> <i>-Your coach</i></h2>
</div>

<%= link_to "Ask a new question", ask_path %>
