<h1 class="title">Stupid Coaching</h1>
<h3>Ask your coach anything:</h3>
<div class="row">
<form action="/answer" class="col-4" data-turbo="false">
  <div class="input-group mb-3" id="form">
    <input type="text" name="questions" class="form-control" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Ask</button>
    </div>
  </div>
</form>
</div>
